<%- include header.ejs %>
<%- include alert.ejs %>

<div class="container">
	<div class="col-lg-8 col-lg-push-2"  id="homepost">
		<%- include postsimple.ejs %>
	</div>
</div>

<%- include footer.ejs %>
