<%- include header.ejs -%>
<%- include alert.ejs -%>

		<div class="container">
			<!--logo开始-->
			<div class="col-lg-4 col-lg-offset-4 text-center">
				<h1 id="logoh1" class="text-info"><i>X</i>blog</h1>
				<h3 class="text-info">享你所想</h3>
			</div>
			<!--logo结束-->
			<!--表单开始-->
			<div class="col-lg-4 col-lg-offset-4">
				<form method="POST" action="/login" id="loginform" class="form-horizontal form-group-lg">
					<div>
						<ul class="nav nav-tabs  nav-justified" role="tablist">
							<li class="active"><a href="/login">登录</a></li>
						  	<li><a href="/reg">注册</a></li>
						</ul>
					</div>
					
					<div class="input-group">
						<span class=" input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input type="text" name="account" placeholder="用户名/电子邮箱" class="form-control" />
					</div>
					<div class="input-group">
						<span class=" input-group-addon"><span class="glyphicon glyphicon-off"></span></span>
						<input type="password" name="password" placeholder="密码" class="form-control" />		
					</div>
							
					<div class="button-group">
						<button type="submit" class="btn btn-info  form-control active">登录</button>
					</div
					
					<div class="checkbox">
						<label><input type="checkbox" checked="checked" />记住我</label>
						<a href="/forget" class="pull-right">忘记密码</a>
					</div>
				</form>
			</div>	
			<!--表单结束-->
		</div>

<%- include footer.ejs -%>