<div>
	<% posts.forEach(function(post) { %>
		<div class="container-fluid postdiv">
			<div class="row posttitle">
				<a href="/p/<%= post.time %>"><h3><%= post.title %></h3></a>	
			</div>
			<div class="row postcontent">
				<%- post.brief %>
			</div>
			<div class="row posttime">
				<div class="pull-right">
					<%= post.time %>
				</div>
			</div>					
		</div>
	<% }); %>
</div>

